<div class="card border-primary">
  <div class="card-header">
    <h5 class="card-title">Hamburger: "{{selectedHamburger.label}}"</h5></div>
  <div class="card-body">
    <table class="table table-hover table-bordered table-sm">
      <thead class="thead-light">
      <tr class="table-record">
        <th>property</th>
        <th>value</th>
        <th><span class="fa fa-edit fa-lg"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>label</td>
        <td>
          <app-property [editMode]="propertyEdited=='label'" [value]="selectedHamburger.label"
                        (sessionStarted)="onSessionStarted('label')"
                        (sessionEnded)="onSessionEnded($event, 'label')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('label')"
                  [class]="propertyEdited=='label'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>uri</td>
        <td class="disabled-property">{{selectedHamburger.uri}}</td>
        <td>
          <button type="button" [disabled]="true"
                  class="btn  btn-sm"><span class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>coins</td>
        <td>
          <app-property [editMode]="propertyEdited=='coins'" [iri]="true"
                        [label]="selectedHamburger.coins?selectedHamburger.coins.name:' '"
                        [value]="selectedHamburger.coins"
                        (selectedObject)="onSelectedObject($event, 'coins')"
                        (sessionStarted)="onSessionStarted('coins')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSelectedObject(selectedHamburger.coins, 'coins')"
                  [class]="selectedCoinsObject?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr *ngIf="selectedCoinsObject">
        <td></td>
        <td>
          <app-coinsobject [selectedCoinsObject]="selectedCoinsObject"
                           (updatedCoinsObject)="onSessionEnded($event, 'coins')"></app-coinsobject>
        </td>
        <td></td>
      </tr>

      <tr>
        <td>assembly</td>
        <td>
          <app-property [editMode]="propertyEdited=='assembly'" [iri]="true" [options]="allHamburgers"
                        [label]="selectedHamburger.assembly?selectedHamburger.assembly.label:' '"
                        [value]="selectedHamburger.assembly?selectedHamburger.assembly.uri:null"
                        [route]="'/hamburgers'"
                        (sessionStarted)="onSessionStarted('assembly')"
                        (sessionEnded)="onSessionEnded($event, 'assembly')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('assembly')"
                  [class]="propertyEdited=='assembly'?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>parts</td>
        <td>
          <app-property [editMode]="propertyEdited=='parts'" [iri]="true" [list]="true" [options]="allHamburgers"
                        [label]="showList(selectedHamburger.parts)"
                        [value]="selectedHamburger.parts"
                        [route]="'/hamburgers'"
                        (sessionStarted)="onSessionStarted('parts')"
                        (sessionEnded)="onSessionEnded($event, 'parts')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('parts')"
                  [class]="propertyEdited=='parts'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>functional unit</td>
        <td>
          <app-property [editMode]="propertyEdited=='functionalUnit'" [iri]="true" [options]="allSystemSlots"
                        [label]="selectedHamburger.functionalUnit?selectedHamburger.functionalUnit.label:' '"
                        [value]="selectedHamburger.functionalUnit?selectedHamburger.functionalUnit.uri:null"
                        [route]="'/systemslots'"
                        (sessionStarted)="onSessionStarted('functionalUnit')"
                        (sessionEnded)="onSessionEnded($event, 'functionalUnit')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('functionalUnit')"
                  [class]="propertyEdited=='functionalUnit'?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>technical solution</td>
        <td>
          <app-property [editMode]="propertyEdited=='technicalSolution'" [iri]="true" [options]="allRealisationModules"
                        [label]="selectedHamburger.technicalSolution?selectedHamburger.technicalSolution.label:' '"
                        [value]="selectedHamburger.technicalSolution?selectedHamburger.technicalSolution.uri:null"
                        [route]="'/realisationmodules'"
                        (sessionStarted)="onSessionStarted('technicalSolution')"
                        (sessionEnded)="onSessionEnded($event, 'technicalSolution')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('technicalSolution')"
                  [class]="propertyEdited=='technicalSolution'?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>port realisations</td>
        <td>
          <app-property [editMode]="propertyEdited=='portRealisations'" [iri]="true" [list]="true"
                        [label]="showList(selectedHamburger.portRealisations)"
                        [value]="selectedHamburger.portRealisations"
                        (sessionStarted)="onSessionStarted('portRealisations')"
                        (sessionEnded)="onSessionEnded($event, 'portRealisations')"
                        (selectedObject)="onSelectedObject($event, 'portRealisations')"
                        (createObjectRequested)="onCreateObjectRequested($event)"
                        (deleteObjectRequested)="onDeleteObjectRequested($event)">
          </app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('portRealisations')"
                  [class]="propertyEdited=='portRealisations'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr *ngIf="selectedPortRealisation">
        <td></td>
        <td>
          <app-portrealisation [selectedPortRealisation]="selectedPortRealisation"
                               [assemblyOptions]="portRealisationAssemblyOptions"
                               [partOptions]="portRealisationPartOptions"
                               [interfaceOptions]="systemInterfaceInterfaceOptions"
                               [portOptions]="realisationPortPortOptions"></app-portrealisation>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>start date</td>
        <td>
          <app-property [editMode]="propertyEdited=='startDate'" [value]="format(selectedHamburger.startDate)"
                        (sessionStarted)="onSessionStarted('startDate')"
                        (sessionEnded)="onSessionEnded($event, 'startDate')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('startDate')"
                  [class]="propertyEdited=='startDate'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>end date</td>
        <td>
          <app-property [editMode]="propertyEdited=='endDate'" [value]="format(selectedHamburger.endDate)"
                        (sessionStarted)="onSessionStarted('endDate')"
                        (sessionEnded)="onSessionEnded($event, 'endDate')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('endDate')"
                  [class]="propertyEdited=='endDate'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
