<div class="card border-primary">
  <div class="card-header">
    <h5 class="card-title">Function: "{{selectedFunction.label}}"</h5></div>
  <div class="card-body">
    <table class="table table-hover table-bordered table-sm">
      <thead class="thead-light">
      <tr class="table-record">
        <th>property</th>
        <th>value</th>
        <th><span class="fa fa-edit fa-lg"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>label</td>
        <td>
          <app-property [editMode]="propertyEdited=='label'" [value]="selectedFunction.label"
                        (sessionStarted)="onSessionStarted('label')"
                        (sessionEnded)="onSessionEnded($event, 'label')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('label')"
                  [class]="propertyEdited=='label'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>uri</td>
        <td class="disabled-property">{{selectedFunction.uri}}</td>
        <td>
          <button type="button" [disabled]="true"
                  class="btn  btn-sm"><span class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>coins</td>
        <td>
          <app-property [editMode]="propertyEdited=='coins'" [iri]="true"
                        [label]="selectedFunction.coins?selectedFunction.coins.name:' '"
                        [value]="selectedFunction.coins"
                        (selectedObject)="onSelectedObject($event, 'coins')"
                        (sessionStarted)="onSessionStarted('coins')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSelectedObject(selectedFunction.coins, 'coins')"
                  [class]="selectedCoinsObject?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr *ngIf="selectedCoinsObject">
        <td></td>
        <td>
          <app-coinsobject [selectedCoinsObject]="selectedCoinsObject"
                           (updatedCoinsObject)="onSessionEnded($event, 'coins')"></app-coinsobject>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>assembly</td>
        <td>
          <app-property [editMode]="propertyEdited=='assembly'" [iri]="true" [options]="allFunctions"
                        [label]="selectedFunction.assembly?selectedFunction.assembly.label:' '"
                        [value]="selectedFunction.assembly?selectedFunction.assembly.uri:null"
                        [route]="'/functions'"
                        (sessionStarted)="onSessionStarted('assembly')"
                        (sessionEnded)="onSessionEnded($event, 'assembly')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('assembly')"
                  [class]="propertyEdited=='assembly'?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>parts</td>
        <td>
          <app-property [editMode]="propertyEdited=='parts'" [iri]="true" [list]="true" [options]="allFunctions"
                        [label]="showList(selectedFunction.parts)"
                        [value]="selectedFunction.parts" [route]="'/functions'"
                        (sessionStarted)="onSessionStarted('parts')"
                        (sessionEnded)="onSessionEnded($event, 'parts')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('parts')"
                  [class]="propertyEdited=='parts'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>

      </tr>
      <tr>
        <td>requirements</td>
        <td>
          <app-property [editMode]="propertyEdited=='requirements'" [iri]="true" [list]="true"
                        [options]="allRequirements"
                        [label]="showList(selectedFunction.requirements)"
                        [value]="selectedFunction.requirements" [route]="'/requirements'"
                        (sessionStarted)="onSessionStarted('requirements')"
                        (sessionEnded)="onSessionEnded($event, 'requirements')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('requirements')"
                  [class]="propertyEdited=='requirements'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>input</td>
        <td>
          <app-property [editMode]="propertyEdited=='input'" [iri]="true" [options]="allSystemInterfaces"
                        [label]="selectedFunction.input?selectedFunction.input.label:' '"
                        [value]="selectedFunction.input?selectedFunction.input.uri:null"
                        [route]="'/systeminterfaces'"
                        (sessionStarted)="onSessionStarted('input')"
                        (sessionEnded)="onSessionEnded($event, 'input')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('input')"
                  [class]="propertyEdited=='input'?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>output</td>
        <td>
          <app-property [editMode]="propertyEdited=='output'" [iri]="true" [options]="allSystemInterfaces"
                        [label]="selectedFunction.output?selectedFunction.output.label:' '"
                        [value]="selectedFunction.output?selectedFunction.output.uri:null"
                        [route]="'/systeminterfaces'"
                        (sessionStarted)="onSessionStarted('output')"
                        (sessionEnded)="onSessionEnded($event, 'output')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('output')"
                  [class]="propertyEdited=='output'?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
