<div class="card border-primary">
  <div class="card-header">
    <h5 class="card-title">System Interface: "{{selectedSystemInterface.label}}"</h5></div>
  <div class="card-body object-body">
    <table class="table table-hover table-bordered table-sm">
      <thead class="thead-light">
      <tr class="table-record">
        <th>property</th>
        <th>value</th>
        <th><span class="fa fa-edit fa-lg"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>label</td>
        <td>
          <app-property [editMode]="propertyEdited=='label'" [value]="selectedSystemInterface.label"
                        (sessionStarted)="onSessionStarted('label')"
                        (sessionEnded)="onSessionEnded($event, 'label')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('label')"
                  [class]="propertyEdited=='label'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>uri</td>
        <td class="disabled-property">{{selectedSystemInterface.uri}}</td>
        <td>
          <button type="button" [disabled]="true"
                  class="btn  btn-sm"><span class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>coins</td>
        <td>
          <app-property [editMode]="propertyEdited=='coins'" [iri]="true"
                        [label]="selectedSystemInterface.coins?selectedSystemInterface.coins.name:' '"
                        [value]="selectedSystemInterface.coins"
                        (selectedObject)="onSelectedObject($event, 'coins')"
                        (sessionStarted)="onSessionStarted('coins')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSelectedObject(selectedSystemInterface.coins, 'coins')"
                  [class]="selectedCoinsObject?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr *ngIf="selectedCoinsObject">
        <td></td>
        <td>
          <app-coinsobject [selectedCoinsObject]="selectedCoinsObject"
                           (updatedCoinsObject)="onSessionEnded($event, 'coins')"></app-coinsobject>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>assembly</td>
        <td>
          <app-property [editMode]="propertyEdited=='assembly'" [iri]="true" [options]="allSystemInterfaces"
                        [label]="selectedSystemInterface.assembly?selectedSystemInterface.assembly.label:' '"
                        [value]="selectedSystemInterface.assembly?selectedSystemInterface.assembly.uri:null"
                        [route]="'/systeminterfaces'"
                        (sessionStarted)="onSessionStarted('assembly')"
                        (sessionEnded)="onSessionEnded($event, 'assembly')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('assembly')"
                  [class]="propertyEdited=='assembly'?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>parts</td>
        <td>
          <app-property [editMode]="propertyEdited=='parts'" [iri]="true" [list]="true" [options]="allSystemInterfaces"
                        [label]="showList(selectedSystemInterface.parts)"
                        [value]="selectedSystemInterface.parts"
                        [route]="'/systeminterfaces'"
                        (sessionStarted)="onSessionStarted('parts')"
                        (sessionEnded)="onSessionEnded($event, 'parts')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('parts')"
                  [class]="propertyEdited=='parts'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>systemslot 0</td>
        <td>
          <app-property [editMode]="propertyEdited=='systemSlot0'" [iri]="true" [options]="allSystemSlots"
                        [label]="selectedSystemInterface.systemSlot0?selectedSystemInterface.systemSlot0.label:' '"
                        [value]="selectedSystemInterface.systemSlot0?selectedSystemInterface.systemSlot0.uri:null"
                        [route]="'/systemslots'"
                        (sessionStarted)="onSessionStarted('systemSlot0')"
                        (sessionEnded)="onSessionEnded($event, 'systemSlot0')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('systemSlot0')"
                  [class]="propertyEdited=='systemSlot0'?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>systemslot 1</td>
        <td>
          <app-property [editMode]="propertyEdited=='systemSlot1'" [iri]="true" [options]="allSystemSlots"
                        [label]="selectedSystemInterface.systemSlot1?selectedSystemInterface.systemSlot1.label:' '"
                        [value]="selectedSystemInterface.systemSlot1?selectedSystemInterface.systemSlot1.uri:null"
                        [route]="'/systemslots'"
                        (sessionStarted)="onSessionStarted('systemSlot1')"
                        (sessionEnded)="onSessionEnded($event, 'systemSlot1')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('systemSlot1')"
                  [class]="propertyEdited=='systemSlot1'?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>requirements</td>
        <td>
          <app-property [editMode]="propertyEdited=='requirements'" [iri]="true" [list]="true"
                        [options]="allRequirements"
                        [label]="showList(selectedSystemInterface.requirements)"
                        [value]="selectedSystemInterface.requirements"
                        [route]="'/requirements'"
                        (sessionStarted)="onSessionStarted('requirements')"
                        (sessionEnded)="onSessionEnded($event, 'requirements')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('requirements')"
                  [class]="propertyEdited=='requirements'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
