<div class="card">
  <div class="card-header">
    <h6 class="card-title">PortRealisation: "{{selectedPortRealisation.label}}"</h6></div>
  <div class="card-body">
    <table class="table table-hover table-bordered table-sm">
      <thead class="thead-light">
      <tr class="table-record">
        <th>property</th>
        <th>value</th>
        <th><span class="fa fa-edit fa-lg"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>label</td>
        <td>
          <app-property [editMode]="propertyEdited=='label'" [value]="selectedPortRealisation.label"
                        (sessionStarted)="onSessionStarted('label')"
                        (sessionEnded)="onSessionEnded($event, 'label')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('label')"
                  [class]="propertyEdited=='label'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>uri</td>
        <td class="disabled-property">{{selectedPortRealisation.uri}}</td>
        <td>
          <button type="button" [disabled]="true"
                  class="btn  btn-sm"><span class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>assembly</td>
        <td>
          <app-property [editMode]="propertyEdited=='assembly'" [iri]="true" [options]="assemblyOptions"
                        [label]="selectedPortRealisation.assembly?selectedPortRealisation.assembly.label:' '"
                        [value]="selectedPortRealisation.assembly?selectedPortRealisation.assembly.uri:null"
                        [route]="'#'"
                        (sessionStarted)="onSessionStarted('assembly')"
                        (sessionEnded)="onSessionEnded($event, 'assembly')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('assembly')"
                  [class]="propertyEdited=='assembly'?'btn btn-primary  btn-sm':'btn  btn-sm'">
            <span class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>parts</td>
        <td>
          <app-property [editMode]="propertyEdited=='parts'" [iri]="true" [list]="true" [options]="partOptions"
                        [label]="showList(selectedPortRealisation.parts)"
                        [value]="selectedPortRealisation.parts"
                        [route]="'#'"
                        (sessionStarted)="onSessionStarted('parts')"
                        (sessionEnded)="onSessionEnded($event, 'parts')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('parts')"
                  [class]="propertyEdited=='parts'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>system interface</td>
        <td>
          <app-property [editMode]="propertyEdited=='systemInterface'" [iri]="true" [options]="allSystemInterfaces"
                        [label]="selectedPortRealisation.systemInterface?selectedPortRealisation.systemInterface.label:' '"
                        [value]="selectedPortRealisation.systemInterface?selectedPortRealisation.systemInterface.uri:null"
                        [route]="'#'"
                        (sessionStarted)="onSessionStarted('systemInterface')"
                        (sessionEnded)="onSessionEnded($event, 'systemInterface')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('systemInterface')"
                  [class]="propertyEdited=='systemInterface'?'btn btn-primary  btn-sm':'btn  btn-sm'">
            <span class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


