<div class="row ">
  <div class="col-md-5 column-content left-column">
    <div class="card border-primary">
      <div class="card-header">
        <h5 class="card-title">System Slots</h5></div>
      <div class="card-body">
        <table class="table table-hover table-bordered table-sm">
          <thead class="thead-light">
          <tr class="table-record">
            <th>label</th>
            <th>local name</th>
            <th>assembly</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let systemSlot of allSystemSlots; let i = index" class="table-record" (click)="onSelect(i)"
              [class]="i == _selectedSystemSlotIndex?'selected':''">
            <td>{{systemSlot.label}}</td>
            <td>{{localName(systemSlot)}}</td>
            <td>{{show(systemSlot.assembly)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-7 column-content">
    <app-systemslot *ngIf="selectedSystemSlot" [selectedSystemSlot]="selectedSystemSlot"></app-systemslot>
  </div>
</div>
