<div class="container-fluid" style="height:100vh">
  <nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">YACSER demo application</a>
  </nav>
  <div style="padding: 5px">
    <ul class="nav nav-tabs">
      <li class="nav-item" routerLinkActive="active activeTab">
        <a class="nav-link" [routerLink]="['datasets']">datasets</a>
      </li>
      <li class="nav-item" routerLinkActive="active activeTab">
        <a class="nav-link" [routerLink]="['systemslots']">system slots</a>
      </li>
      <li class="nav-item" routerLinkActive="active activeTab">
        <a class="nav-link" [routerLink]="['systeminterfaces']">system interfaces</a>
      </li>
      <li class="nav-item" routerLinkActive="active activeTab">
        <a class="nav-link" [routerLink]="['functions']">functions</a>
      </li>
      <li class="nav-item" routerLinkActive="active activeTab">
        <a class="nav-link" [routerLink]="['requirements']">requirements</a>
      </li>
      <li class="nav-item" routerLinkActive="active activeTab">
        <a class="nav-link" [routerLink]="['realisationmodules']">realisation modules</a>
      </li>
      <li class="nav-item" routerLinkActive="active activeTab">
        <a class="nav-link" [routerLink]="['performances']">performances</a>
      </li>
      <li class="nav-item" routerLinkActive="active activeTab">
        <a class="nav-link" [routerLink]="['hamburgers']">hamburgers</a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
