<div class="row ">
  <div class="col-md-5 column-content left-column">
    <div class="card border-primary">
      <div class="card-header">
        <h5 class="card-title">Realisation Modules</h5></div>
      <div class="card-body repository-body">
        <table class="table table-hover table-bordered table-sm" sortable-table (sorted)="onSorted($event)">
          <thead class="thead-light">
          <tr class="table-record">
            <th sortable-column="label">label</th>
            <th sortable-column="localName">local name</th>
            <th sortable-column="assembly">assembly</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr [id]="realisationModuleItem.uri" *ngFor="let realisationModuleItem of allRealisationModules; let i = index" class="table-record" (click)="onSelect(i)"
              [class]="realisationModuleItem == selectedRealisationModule?'selected':''">
            <td>{{realisationModuleItem.label}}</td>
            <td>{{localName(realisationModuleItem)}}</td>
            <td>{{show(realisationModuleItem.assembly)}}</td>
            <td>
              <button type="button" (click)="onDelete(i)" class="btn btn-sm">
                <span class="fa fa-trash fa-lg"></span>
              </button>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button type="button" (click)="onCreate()" class="btn btn-sm">
                <span class="fa fa-asterisk fa-lg"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-7 column-content">
    <app-realisation-module *ngIf="selectedRealisationModule" [selectedRealisationModule]="selectedRealisationModule"></app-realisation-module>
  </div>
</div>
