<div class="card border-primary">
  <div class="card-header">
    <h5 class="card-title">Requirement: "{{selectedRequirement.label}}"</h5></div>
  <div class="card-body">
    <table class="table table-hover table-bordered table-sm">
      <thead class="thead-light">
      <tr class="table-record">
        <th>property</th>
        <th>value</th>
        <th><span class="fa fa-edit fa-lg"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>label</td>
        <td>
          <app-property [editMode]="propertyEdited=='label'" [value]="selectedRequirement.label"
                        (sessionStarted)="onSessionStarted('label')"
                        (sessionEnded)="onSessionEnded($event, 'label')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('label')"
                  [class]="propertyEdited=='label'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>uri</td>
        <td class="disabled-property">{{selectedRequirement.uri}}</td>
        <td>
          <button type="button" [disabled]="true"
                  class="btn  btn-sm"><span class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>assembly</td>
        <td>
          <app-property [editMode]="propertyEdited=='assembly'" [iri]="true" [options]="allRequirements"
                        [label]="selectedRequirement.assembly?selectedRequirement.assembly.label:' '"
                        [value]="selectedRequirement.assembly?selectedRequirement.assembly.uri:null"
                        [route]="'/requirements'"
                        (sessionStarted)="onSessionStarted('assembly')"
                        (sessionEnded)="onSessionEnded($event, 'assembly')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('assembly')"
                  [class]="propertyEdited=='assembly'?'btn btn-primary  btn-sm':'btn  btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>parts</td>
        <td>
          <app-property [editMode]="propertyEdited=='parts'" [iri]="true" [list]="true" [options]="allRequirements"
                        [label]="showList(selectedRequirement.parts)"
                        [value]="selectedRequirement.parts"
                        [route]="'/requirements'"
                        (sessionStarted)="onSessionStarted('parts')"
                        (sessionEnded)="onSessionEnded($event, 'parts')"></app-property>
        </td>
        <td>
          <button type="button" (click)="onSessionStarted('parts')"
                  [class]="propertyEdited=='parts'?'btn btn-primary btn-sm':'btn btn-sm'"><span
            class="fa fa-edit fa-lg"></span>
          </button>
        </td>

      </tr>
      <tr>
        <td>min value</td>
        <td>
          <app-property [editMode]="propertyEdited=='minValue'" [iri]="true"
                        [label]="selectedRequirement.minValue?selectedRequirement.minValue.label:' '"
                        [value]="selectedRequirement.minValue"
                        (selectedObject)="onSelectedObject($event)"
                        (sessionStarted)="onSessionStarted('minValue')"
                        (sessionEnded)="onSessionEnded($event, 'minValue')"></app-property>
        </td>
        <td>
          <button type="button"
                  (click)="selectedRequirement.minValue?onDeleteObjectRequested('minValue'):onCreateObjectRequested('minValue')"
                  class="btn  btn-sm"><span
            [class]="selectedRequirement.minValue?'fa fa-trash fa-lg':'fa fa-asterisk fa-lg'"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td>max value</td>
        <td>
          <app-property [editMode]="propertyEdited=='maxValue'" [iri]="true"
                        [label]="selectedRequirement.maxValue?selectedRequirement.maxValue.label:' '"
                        [value]="selectedRequirement.maxValue"
                        (selectedObject)="onSelectedObject($event)"
                        (sessionStarted)="onSessionStarted('maxValue')"
                        (sessionEnded)="onSessionEnded($event, 'maxValue')"></app-property>
        </td>
        <td>
          <button type="button"
                  (click)="selectedRequirement.maxValue?onDeleteObjectRequested('maxValue'):onCreateObjectRequested('maxValue')"
                  class="btn  btn-sm"><span
            [class]="selectedRequirement.maxValue?'fa fa-trash fa-lg':'fa fa-asterisk fa-lg'"></span>
          </button>
        </td>
      </tr>
      <tr *ngIf="selectedNumericProperty">
        <td></td>
        <td>
          <app-numeric-property [selectedNumericProperty]="selectedNumericProperty"></app-numeric-property>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
